.app__wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  /* overflow-y: hidden; */
}

@media (max-width: 1265px) {
  .app__wrapper {
    grid-template-columns: 7% 93%;
  }
}

@media (max-width: 767px) {
  .app__wrapper {
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr;
    /* grid-template-rows: 95dvh 5dvh; */
  }
}
