.post_modal {
    max-width: calc(100% - 4rem - 4rem);
    max-height: max-content;
    background-color: #000;
    border-radius: 0;
}

.post_modal__box {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 100%;
}
.post_modal__images {
    width: 100%;
    height: 100%;
}
.post_modal__images img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover !important;
}
.post_modal__images div {
    width: 100%;
    height: 100%;
}
.post_modal__actions {
    display: flex;
    flex-direction: column;
}
.post_modal__comments {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(var(--post-separator));
    margin: 0 0 auto;
    padding: 16px;
    height: 100%;
}
.post_modal__comments_is_null {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.post_modal__comments_is_null h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.post_modal__comments_is_null p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.post_modal__comment {
    margin-bottom: 1.5rem !important;
}
.post_modal__bottom {
    border-top: 1px solid rgb(var(--post-separator));
}

.post_modal__buttons {
    display: flex;
    padding: 0 1rem 0;
}
.post_modal__button {
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0.5rem 0;
}
.post_modal__button + .post_modal__button {
    margin-left: 1rem;
}
.post_modal__button + .post_modal__button_mark {
    margin-left: auto;
}
.post_modal__button:hover {
    opacity: 0.5;
}
.post_modal__button_like {
    animation-duration: 0.45s;
    animation-name: like-button-animation;
    animation-timing-function: ease-in-out;
    transform: scale(1);
}
@keyframes like-button-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
.post_modal__button_like:hover {
    opacity: 1;
}
.post_modal__like_string {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding: 0 1rem 0;
}
.post_modal__form {
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
    position: relative;
    border-top: 1px solid rgb(var(--post-separator));
    padding: 0.5rem 1rem 0;
}
.post_modal__form_textarea {
    font-family: inherit;
    resize: none;
    background-color: transparent;
    border: none;
    color: rgb(var(--ig-primary-text));
    padding: 0;
    outline: none;
}

.post_modal__form_button {
    font-weight: 600;
    color: rgb(var(--ig-primary-button));
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.post_modal__form_button:hover {
    color: rgb(var(--ig-link));
}
.post_modal__inner_images {
    display: none;
}
.post_modal__inner_images img {
    object-fit: cover;
}
@media (max-width: 800px) {
    .post_modal {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 0;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* bottom: calc(3rem + 3rem); */
    }
    .post_modal__comments {
        display: none;
    }
    .post_modal__images {
        display: none;
    }
    .post_modal__inner_images {
        display: block;
    }
    .post_modal__box {
        grid-template-columns: initial;
        /* grid-template-rows: 1fr 2fr 1fr; */
    }
}
